#customizer {
	position: fixed;
	top: 0px;
	z-index: 999999;
	height: 100%;
}

.version-scheme {
	overflow-x: hidden;
}

.corner {
	display: block;
	cursor: pointer;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 30%;
	right: -60px;
	background: #000;
	color: #00BCD4;
	line-height: 57px;
	text-align: center;
	margin-top: -30px;
	font-size: 29px;
}

.s-close {
	left: -300px !important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.s-open {
	left: 0 !important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.corner.expanded {
	background: url(../images/corner.png);
}


.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    margin-top: 16px;
}

#options {
	width: 300px;
	height: 100%;
	background: #f5f5f5;
	border-radius: 0;
	padding: 0;
	position: relative;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	overflow-y: auto;
	overflow-x: none;
}

.heading {
	padding-bottom: 15px;
	margin-bottom: 20px;
}

#options h6 {
	color: #fff;
	margin-bottom: 10px;
	font-size: 13px;
}

.options-segment {
	margin-bottom: 20px;
}

.customize-button {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	color: #5c5c5c !important;
	background: #f7f7f7;
	border: 1px solid #e9e9e9;
	padding: 3px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.customize-button:hover {
	background: #fff;
}

.customize-button:first-of-type {
	margin-right: 5px;
}

.color-scheme {
	padding: 20;
}

.color-scheme li {
	float: left;
	list-style: none;
	margin: 5;
	width: 25%;
	overflow:hidden;
}

.color-scheme a {
	display: block;
}

.colors-sel {
	padding: 0px 0px 0px;
	margin-bottom: 0;
}

.version-sel {
	padding: 0px 0px 0px;
	margin-bottom: 0;
}

.version-scheme {
	overflow:hidden;
}

.version-scheme li {
	width: 100%;
	margin-bottom: -5px;
}

.version-scheme li a {
	padding: 0;
	transition: .4s;
	display: inline-block;
	width: 300px;
}

.colors-sel h5, .version-sel h5 {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	padding: 20px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	background: #333;
}

.color-scheme li a {
	width: 100%;
	height: 50px;
	border: 0;
	display: table;
	position:relative;
	overflow:hidden;
}

.color-scheme li a:after {
	content: "";
	width: 68%;
	position: absolute;
	top: -5px;
	right: 0;
	height: 213%;
	background: rgba(0,0,0,0.2);
	transform: rotate(56deg);
}

.indigo a {
	background: #3F51B5;
}

.green3 a {
	background: #1abc9c;
}

.green2 a {
	background: #2ecc71;
}

.green a {
	background: #4CAF50;
}

.cyan a {
	background: #00BCD4;
}

.brown a {
	background: #795548;
}

.blue a {
	background: #03A9F4;
}

.yellow a {
	background: #FFC107;
}

.red a {
	background: #F44336;
}

.purple a {
	background: #673AB7;
}

.pink a {
	background: #E91E63;
}

.orange2 a {
	background: #e67e22;
}

.orange a {
	background: #FF5722;
}

.options-head {
	font-size: 12px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	padding: 0 0px;
	font-family: Montserrat;
	letter-spacing: -1px;
	color: #fff;
	background: #000;
	text-transform: none;
	font-size: 17px;
}

.options-head i {
	background: transparent;
	margin-left: -4px;
	border-left: 1px solid #333;
	padding: 18px 20px;
	font-size: 13px;
	color: #999;
}

.options-head i:first-child {
	margin-left:15px;
}

.simplebar-track .simplebar-scrollbar {
	background: #000;
	border-radius: 0px;
	margin: 0;
	right: -2px;
}
